@import (inline) 'node_modules/reset-css/reset.css';

* {
  box-sizing: border-box;
}

body {
  background: #fff;
}

h1 {
  font-size: 3rem;
  color: #eee;
  background: rgba(31, 31, 31, 0.3);
  padding: 0.5rem 0.3rem;
  display: inline-block;
}

#checkScroll{
  position: fixed;
  top: 10px;
  right: 10px;
  background: #fff;
  border: 2px solid #111;
  color: #222;
  z-index: 100;
  padding: 0.5rem;
}

.parallax-wrap {
  position: relative;
  height: 100vh;
  overflow: hidden;
  .parallax-moving,
  .parallax-moving-2{
    position: absolute;
    will-change: transform;
    left: 0;
    right: 0;
    top: 0;
    height: 100%;
    background-color: #d4e9f5;
    background-image: url(http://www.philarmitage.net/alaska/toklat_valley.jpg);
    background-size: cover;
  }
  .container {
    height: 100%;
    position: relative;
    z-index: 2;
  }
}

.centre-item {
  height: 100%;
  width: 100%;
  display: table;
  text-align: center;
  > * {
    display: table-cell;
    vertical-align: middle;
  }
}

.item {
  height: 650px;
  background: green;
  width: 100%;
  ~ .item {
    background: blue;
  }
}

@media screen and (max-width: 767px) {
  body {
    position: relative;
  }
  .item {
    position: relative;
    z-index: 1;
    width: 100%;
    background: #fff;
    border-left: 30px solid green;
    height: 100vh;
  }
  .parallax-wrap {
    height: 80vh;
    .parallax-moving {
      z-index: 0;
      height: 100vh;
      width: 100%;
      position: fixed;
      top: 0 !important;
      transform: none !important;
      background-size: auto 100%;
      background-position: center;
    }
  }
}
